*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#size{
    color: red;
}

.container{
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    height: auto;
    padding: 50px;
    margin: 20px;
    border-radius: 30px;
}

.row-1,.row-2,.row-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box-1,.box-2,.box-3,.box-4,.box-5,.box-6,.box-7,.box-8,.box-9{
    background-color: #c4c4c4;
    display: flex;
    width: calc((100% - 160px)/3);
    height: calc((80vh - 220px)/3);
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 2px  solid black;
    margin: 20px;
    border-radius: 20px;
    font-size: 5vh;
}

@media (max-width: 950px) {
    .container{
        height: 100vh;
    }
    .row-1,.row-2,.row-3{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .box-1,.box-2,.box-3,.box-4,.box-5,.box-6,.box-7,.box-8,.box-9{
        background-color: #c4c4c4;
        display: flex;
        width: calc(100% - 40px);
        height: calc((80vh - 220px)/3);
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border: 2px  solid black;
        margin: 20px;
        border-radius: 20px;
        font-size: 5vh;
    }
}