
:root{
  --color-1 : #cdb4db;
  --color-2 : #fff1e6;
  --color-3 : #52b788;
  --color-4 : #bee1e6;

  --mobile : 576px;
  --tablet : 768px;
  --laptop : 992px;
  --desktop : 1200px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 35px;
}

.container {
  height: 100vh;
  background-color: #fff;

  /* display flex */
  /* display: flex;
  justify-content: center;  /* aligns item at x-axis */
  /* align-items: center;  /* aligns item at y-axis */ 

  /* using display grif */
  display: grid;
  place-content: center;
}

#size{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  color: red;
}

/*
  there are 4 types of Media types:
    1) all    -> all media type devices
    2) print  -> printers
    3) screen -> computer screens, tablets, smart-phones, etc.
    4) speech -> screenreaders that "reads" the page out load
*/

/*
  max-width -> 0 - value
  min-width -> value - 100
*/

/*
@media screen , (max-width: 768px) and (min-width: 768px){
 /* styles here */ 
/*
}
*/

/* max width example */
/* @media screen and (max-width: 700px){
  .container{
    background-color: var(--color-1);
  }
}

@media screen and (min-width: 600px) {
  .container{
    background-color: var(--color-3);
  }
} */

/* break points
    Mobile -> 576px   (color-1)
    Tablet -> 768px   (color-2) 
    Laptop -> 992px   (color-3)
    Desktop -> 1200px (color-4)
*/

/* This must be in descending order */

@media screen and (max-width: 1200px) {
  .container{
    background-color: var(--color-4);
  }
}


@media screen and (max-width: 992px) {
  .container{
    background-color: var(--color-3);
  }
}

@media screen and (max-width: 768px){
  .container{
    background-color: var(--color-2);
  }
}

@media screen and (max-width: 576px) {
    .container{
      background-color: var(--color-1);
    }
}




