option{
    color: aqua;
}

td{
    color: red;
    background-color: aqua;
}
div{
    margin-top: 20px;
}

#label1{
    background-color: black;
    color: white;
    margin-right: 750px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.label2{
    background-color: red;
}